@import"../partials/varialebles";

#carouselExampleControls {
    z-index: 1;
}
.galeria {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}
.galeria img {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 6px 6px rgb(0, 0, 0);
    border: 4px rgb(0, 0, 0) solid; 
    width: 33vh;
    height: 55vh;
}
.galeria img:hover {
    transform: scale(1.1);
    transition: 0.6s;
  }

.horizontal img:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
@media screen and (min-width: 768px){
    .galeria {
        justify-content: space-around;
        grid-template-columns: auto auto auto auto;
    }
    .galeria img {
        margin: 15px;
    }
    .carrusel{
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 100px;
    }
    
}