.gastronomia {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;  
}
#img {
    
}
.card-title {
    color: black;
}
.card-text {
    color: black;
}
@media screen and (min-width: 768px){
    #img{
        border: 4px black solid;
        height: 200px;
    }
}