.gastronomia {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    color: #fff;
    
}
.text {
    font-size: 18px;
}
.item {
    color: #fff;
}
.comida {
    width: 400px;
    height: 300px;
}